<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h2 mat-dialog-title>Add User</h2>
  <mat-dialog-content>
    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>First Name</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.firstName"
          matInput
          placeholder="First Name"
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.lastName"
          matInput
          placeholder="Last Name"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.email"
          matInput
          placeholder="E-mail"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Birth Date</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="birthDate"
          matInput
          placeholder="Birth Date"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street + Housenumber</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.street"
          matInput
          placeholder="Street and Number"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.zipCode"
          type="number"
          matInput
          placeholder="Zip Code"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.city"
          matInput
          placeholder="City"
        />
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>
