<div class="dialog-container">
  <h2 mat-dialog-title>Edit Address</h2>
  <mat-dialog-content>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Street + Housenumber</mat-label>
        <input
          matInput
          [(ngModel)]="user.street"
          placeholder="Street and Number"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mr-16" appearance="outline">
        <mat-label>Zip code</mat-label>
        <input
          matInput
          [(ngModel)]="user.zipCode"
          type="number"
          placeholder="Zip Code"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput [(ngModel)]="user.city" placeholder="City" />
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>
