<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h2 mat-dialog-title>Edit User</h2>
  <mat-dialog-content>
    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput [disabled]="loading" [(ngModel)]="user.firstName" placeholder="First Name" />
      </mat-form-field>

      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput [disabled]="loading" [(ngModel)]="user.lastName" placeholder="Last Name" />
      </mat-form-field>
    </div>


    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Birth Date</mat-label>
        <input
          [(ngModel)]="birthDate"
          matInput
          [disabled]="loading"
          placeholder="Birth Date"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input matInput [disabled]="loading" [(ngModel)]="user.email" placeholder="E-Mail" />
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>
