<mat-card class="user-detail-header">
  <button
    mat-icon-button
    color="primary"
    class="right-upper-icon"
    aria-label="Example icon button with a vertical three dot icon"
    [matMenuTriggerFor]="userMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="editUserDetail()">Edit</button>
  </mat-menu>

  <div class="user-detail-flex">
    <img src="img/profilbild1.png" alt="" />
    <div>
      <h2>{{ user?.firstName }} {{ user?.lastName }}</h2>
      <br />
      {{ user?.email }}
    </div>
  </div>
</mat-card>

<mat-card class="mt-32">
  <button
    mat-icon-button
    color="primary"
    class="right-upper-icon"
    aria-label="Example icon button with a vertical three dot icon"
    [matMenuTriggerFor]="addressMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #addressMenu="matMenu">
    <button mat-menu-item (click)="editMenu()">Edit</button>
  </mat-menu>

  <mat-card-header>
    <mat-card-title>Address</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ user?.street }} <br />
      {{ user?.zipCode }} {{ user?.city }}
    </p>
  </mat-card-content>
</mat-card>
