
.user-table{
    // width: 100%;

    th{
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;
    }
}

.user-add-btn{
    position: absolute;
    bottom: 56px;
    right: 56px;
}